* {
     margin: 0;
     padding: 0;
     color: #000;
     box-sizing: border-box;
}
 body,main {
     display: grid;
}
 body {
     background-color: #fff;
     margin: auto;
     max-width: 38rem;
    font-family: monospace,monospace;
    font-size: 1rem
}
 header {
     text-align: center;
}
 a {
     color: #0645AD;
}
 a:hover {
     background-color: #0066cc;
     color: #fff;
}
 h3 {
     text-align: center;
     padding: 1rem;
}
 h4 {
     padding: 1rem;
}
 h5 {
     margin: 0.25rem 1rem 0.25rem;
     border: 0.1rem solid;
     border-radius: 0.5rem;
     padding: 1rem;
}
 img {
     display: block;
     border-radius: 1.5rem;
     padding: 1rem;
     margin: auto;
     max-width:400px;     
     height: auto; 
}
 footer {
     clear: both;
}
 .foot {
     text-align: center;
}
 footer img {

     padding:0;
}
 footer > * {
     display: inline-block;
}
 
